@utility heading-1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

@utility heading-2 {
  @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
}

@utility heading-3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}

@utility heading-4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
}

@utility p {
  @apply leading-7 not-first:mt-6;
}

@utility blockquote {
  @apply mt-6 border-l-2 pl-6 italic;
}
