---
import Head from "~/components/Head.astro";
import { Image } from "astro:assets";
import {
  Linkedin,
  Twitter,
  Github,
  Upload,
  Codepen,
  Layers,
  Globe,
} from "lucide-astro";
---

<!doctype html>
<html lang="en">
  <Head />
  <body
    class="container flex min-h-screen flex-col items-center bg-[conic-gradient(at_top_right,_var(--tw-gradient-stops))] from-violet-100 via-purple-900 to-teal-900 py-12 text-center text-zinc-50"
  >
    <header>
      <Image
        class="mx-auto h-24 w-24 rounded-full"
        srcset="https://github.com/fellipeutaka.png?size=144 480w, https://github.com/fellipeutaka.png?size=256 800w"
        sizes="(max-width: 600px) 480px, 800px"
        src="https://github.com/fellipeutaka.png"
        alt="Fellipe Utaka's avatar"
        width={96}
        height={96}
        loading="eager"
      />
      <h1 class="my-3">@fellipeutaka</h1>
      <h2>A Full-Stack Developer who loves experiment new technologies.</h2>
      <div class="my-6 flex items-center justify-center gap-4">
        <a
          class="transition hover:scale-110 hover:text-[#2867b2]"
          href="https://www.linkedin.com/in/fellipeutaka"
          aria-label="Fellipe Utaka's Linkedin"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Linkedin />
        </a>
        <a
          class="transition hover:scale-110 hover:text-[#39a9d9]"
          href="https://www.twitter.com/fellipeutaka"
          aria-label="Fellipe Utaka's Twitter"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Twitter />
        </a>
      </div>
    </header>

    <main class="w-full space-y-4">
      <a
        href="https://github.com/fellipeutaka"
        target="_blank"
        rel="noopener noreferrer"
        class="flex h-16 items-center justify-between rounded-full bg-purple-600 px-4 transition duration-300 hover:scale-105"
      >
        <Github />
        <span>GitHub</span>
        <Upload />
      </a>

      <a
        href="https://dev.to/fellipeutaka"
        target="_blank"
        rel="noopener noreferrer"
        class="flex h-16 items-center justify-between rounded-full bg-purple-600 px-4 transition duration-300 hover:scale-105"
      >
        <Layers />
        <span>Dev.to</span>
        <Upload />
      </a>

      <a
        href="https://codepen.io/fellipeutaka"
        target="_blank"
        rel="noopener noreferrer"
        class="flex h-16 items-center justify-between rounded-full bg-purple-600 px-4 transition duration-300 hover:scale-105"
      >
        <Codepen />
        <span>Codepen</span>
        <Upload />
      </a>

      <a
        href="/"
        class="flex h-16 items-center justify-between rounded-full bg-purple-600 px-4 transition duration-300 hover:scale-105"
      >
        <Globe />
        <span>Website</span>
        <Upload />
      </a>
    </main>

    <footer class="mt-12">Made with ❤️ by Fellipe Utaka</footer>
  </body>
</html>
