---
import FeaturedProjects from "~/components/home/featured-projects.astro";
import Hero from "~/components/home/hero.astro";
import RootLayout from "~/layouts/root-layout.astro";
---

<RootLayout>
  <Hero />
  <!-- <header class="container space-y-4 py-4">
    <h1 class="text-3xl font-bold">Hey, I'm Fellipe Utaka 👋</h1>
    <p class="text-muted-foreground">
      I'm a dedicated and versatile mid-level full-stack developer with over 3
      years of hands-on experience in crafting robust and scalable web, mobile,
      and desktop applications. My passion lies in creating seamless digital
      experiences, and I thrive on the challenges of turning complex ideas into
      elegant, user-friendly solutions.
    </p>
  </header> -->

  <main class="container my-20 max-w-6xl animate-fade-up animate-delay-700">
    <h2 class="mb-10 text-3xl font-semibold">Featured projects</h2>
    <FeaturedProjects />
  </main>
</RootLayout>
