---
import { Image } from "astro:assets";
import {
  Linkedin,
  Twitter,
  Github,
  Upload,
  Codepen,
  Layers,
  Globe,
} from "lucide-astro";

import Layout from "~/components/Layout.astro";

const links = [
  {
    name: "GitHub",
    icon: Github,
    url: new URL("https://github.com/fellipeutaka"),
  },
  {
    name: "Dev.to",
    icon: Layers,
    url: new URL("https://dev.to/fellipeutaka"),
  },
  {
    name: "Codepen",
    icon: Codepen,
    url: new URL("https://codepen.io/fellipeutaka"),
  },
  {
    name: "Website",
    icon: Globe,
    url: new URL(Astro.url.origin),
  },
];
---

<Layout title="Links">
  <header class="container">
    <Image
      class="mx-auto size-24 rounded-full"
      srcset="https://github.com/fellipeutaka.png?size=144 480w, https://github.com/fellipeutaka.png?size=256 800w"
      sizes="(max-width: 600px) 480px, 800px"
      src="https://github.com/fellipeutaka.png"
      alt="Fellipe Utaka's avatar"
      width={96}
      height={96}
      loading="eager"
    />
    <h1 class="my-3 text-center font-semibold">@fellipeutaka</h1>
    <h2 class="text-center">
      A Full-Stack Developer who loves experiment new technologies.
    </h2>
    <div class="my-6 flex items-center justify-center gap-4">
      <a
        class="transition hover:scale-110 hover:text-[#2867b2]"
        href="https://www.linkedin.com/in/fellipeutaka"
        aria-label="Fellipe Utaka's Linkedin"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Linkedin />
      </a>
      <a
        class="transition hover:scale-110 hover:text-[#39a9d9]"
        href="https://www.twitter.com/fellipeutaka"
        aria-label="Fellipe Utaka's Twitter"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Twitter />
      </a>
    </div>
  </header>

  <main class="container w-full space-y-4">
    {
      links.map((link) => (
        <a
          href={link.url.toString()}
          target="_blank"
          rel="noopener noreferrer"
          class="flex h-16 items-center justify-between rounded-full bg-primary px-4 text-primary-foreground transition duration-300 hover:scale-105"
        >
          <link.icon />
          <span>{link.name}</span>
          <Upload />
        </a>
      ))
    }
  </main>
</Layout>
