---
import { BadgeAnimated } from "~/components/ui/badge-animated";
import { Button, ButtonStyles } from "~/components/ui/button";
import { Icons } from "~/components/ui/icons";
import { Spotlight } from "~/components/ui/spotlight";
import { siteConfig } from "~/config/site";
---

<section
  class="relative flex overflow-hidden rounded-md bg-background/[0.96] py-48 md:items-center md:justify-center"
>
  <Spotlight className="fill-foreground" />
  <div class="flex max-w-7xl flex-col items-center space-y-4 p-4 md:p-0">
    <div class="grid animate-fade-up justify-items-center gap-4">
      <BadgeAnimated className="flex items-center gap-2 text-sm">
        <Icons.Circle
          className="size-2 animate-pulse fill-green-600 text-green-600"
        />
        Available for work
      </BadgeAnimated>
      <h1 class="text-center text-4xl font-black md:text-7xl">Fellipe Utaka</h1>
      <h2 class="text-center text-4xl font-black md:text-7xl">
        Full-Stack Developer
      </h2>
    </div>
    <p
      class="mx-auto max-w-lg animate-fade-up text-balance text-center text-muted-foreground animate-delay-100"
    >
      Obsessed with developer experience, robust, scalable and user-friendly
      applications.
    </p>
    <div
      class="flex animate-fade-up items-center justify-center gap-4 animate-delay-300"
    >
      <Button className="rounded-full">
        <Icons.Download className="mr-2 size-4" />
        Get resume
      </Button>
      <a
        href={siteConfig.links.github}
        rel="noopener noreferrer"
        class={ButtonStyles({ class: "rounded-full", variant: "outline" })}
      >
        <Icons.GitHub className="mr-2 size-4" />
        GitHub
      </a>
    </div>
  </div>
</section>
