---
import Head, { type Props } from "~/components/Head.astro";

const { props } = Astro;

import "~/styles/globals.css";
---

<!doctype html>
<html lang="en" class="dark">
  <Head {...props} />
  <body>
    <slot />
    <footer class="container mt-auto">Made with ❤️ by Fellipe Utaka</footer>
  </body>
</html>
